In [8]:
import os
import platform
import pandas as pd
import numpy as np
import time
import asyncio
import threading
import json
import itertools
import nest_asyncio
nest_asyncio.apply()
from bs4 import BeautifulSoup

# for logging
import sys
import logging
import datetime
from logging.handlers import TimedRotatingFileHandler

from urllib.request import urlopen
from urllib.parse import urlparse, parse_qs

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service

#logging
class PrintLogger:
    def __init__(self, log):
        self.terminal = sys.stdout
        self.log = log

    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)

    def flush(self):
        pass

current_date = datetime.datetime.now().strftime("%Y-%m-%d")
def setup_logging():
    log_formatter = logging.Formatter("%(asctime)s - %(message)s", "%Y-%m-%d %H:%M:%S")
    log_file = f'verval_scrape_{current_date}.log'
    log_handler = TimedRotatingFileHandler(log_file, when="midnight", interval=1, backupCount=30, utc=False)
    log_handler.setFormatter(log_formatter)
    log_handler.setLevel(logging.DEBUG)
    
    logger = logging.getLogger()
    logger.addHandler(log_handler)

    sys.stdout = PrintLogger(log_handler.stream)
setup_logging()

os_system = platform.system()
print('OS SYSTEM:   ', os_system)

#cpu count
num_threads = os.cpu_count()
print(f'Num Threads:    {num_threads}')

# set path ke file chromedriver to operate the Chrome browser.
chrome_version = 'v119_0_6045_105'
if os_system == 'Windows':
    chrome_path = os.path.join('webdriver', 'chrome', os_system, chrome_version, 'chromedriver.exe')
elif os_system == 'Linux':
    chrome_path = os.path.join('webdriver', 'chrome', os_system, chrome_version, 'chromedriver')
else:
    chrome_path = os.path.join('webdriver', 'chrome', 'MacOS', chrome_version, 'chromedriver')

print('CHROME PATH:    ', chrome_path)
#webdriver options
chrome_options = Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--disable-gpu')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-setuid-sandbox')
#overcome limited resource problems
# chrome_options.add_argument('--disable-dev-shm-usage')
#open Browser in maximized mode
chrome_options.add_argument("start-maximized")
#disable extension
chrome_options.add_argument("--disable-extensions")
chrome_options.add_argument("--disable-blink-features=AutomationControlled")

def driversetup():
  # webdriver_service = ChromeService(ChromeDriverManager().install())
  chrome_service = Service(executable_path=chrome_path)
  driver = webdriver.Chrome(service=chrome_service, options=chrome_options)
  return driver
driver = driversetup()

#create empty dataframe
df_rekapitulasi = df_provinsi = df_kabupaten = df_kecamatan = df_sekolah_id_nama = pd.DataFrame()
kode_wilayah_kabupaten = pd.Series([]) 
# kode_wilayah_kecamatan = pd.Series([])
kode_wilayah_kecamatan = []
sekolah_id_enkrip = pd.Series([])
semester_label = pd.Series([])
semester_period = pd.Series([])
max_retries = 3

province_api = 'https://dapo.kemdikbud.go.id/rekap/dataPD?id_level_wilayah=0&kode_wilayah=000000&semester_id=20231'
provinces = pd.read_json(province_api)

provinces = provinces.sort_values('kode_wilayah')
provinces = provinces['kode_wilayah']
provinces = provinces.astype(str).str.zfill(6)

provinces
"""## get kode wilayah `kabupaten`"""
start_kab_kota = time.time()
for province in provinces[:5]:
    province = province.strip()
    kab_api = 'https://dapo.kemdikbud.go.id/rekap/dataPD?id_level_wilayah=1&kode_wilayah={0}&semester_id=20231'.format(province)

    kabupatens = pd.read_json(kab_api)
    kabupatens = kabupatens.sort_values('kode_wilayah')
    kabupatens = kabupatens['kode_wilayah']
    kode_wilayah_kabupaten = kode_wilayah_kabupaten._append(kabupatens, ignore_index=True)

kode_wilayah_kabupaten = kode_wilayah_kabupaten.astype(str).str.zfill(6)
df_kode_wilayah_kabupaten = pd.DataFrame({'kode_wilayah_kabupaten': kode_wilayah_kabupaten})
df_kode_wilayah_kabupaten.to_csv('./dataset/kode_wilayah_kabupaten_testest.csv', index=False)
print('kode_wilayah_kabupaten: ', len(kode_wilayah_kabupaten))
print(f'get kab/kota done in: {time.time() - start_kab_kota} seconds')

C:\Users\steva\AppData\Local\Temp\ipykernel_9940\2078481630.py:94: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  kode_wilayah_kabupaten = pd.Series([])
C:\Users\steva\AppData\Local\Temp\ipykernel_9940\2078481630.py:97: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sekolah_id_enkrip = pd.Series([])
C:\Users\steva\AppData\Local\Temp\ipykernel_9940\2078481630.py:98: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  semester_label = pd.Series([])
C:\Users\steva\AppData\Local\Temp\ipykernel_9940\2078481630.py:99: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  semester_period = pd.Series([])

,nama,kode_wilayah,id_level_wilayah,mst_kode_wilayah,induk_provinsi,kode_wilayah_induk_provinsi,induk_kabupaten,kode_wilayah_induk_kabupaten,tk_pd_laki,tk_pd_perempuan,...,slb_pd,sd_pd_laki,sd_pd_perempuan,sd_pd,smp_pd_laki,smp_pd_perempuan,smp_pd,total_pd_laki,total_pd_perempuan,total_pd
0,Prov. Jawa Barat,20000,1,0,NaN,NaN,NaN,NaN,198439,186961,...,28456,2318088,2164358,4482446,931519,884688,1816207,5017173,4677265,9694438
1,Prov. Jawa Timur,50000,1,0,NaN,NaN,NaN,NaN,396283,373403,...,22040,1311888,1217687,2529575,643740,586638,1230378,3416685,3133268,6549953
2,Prov. Jawa Tengah,30000,1,0,NaN,NaN,NaN,NaN,295231,274817,...,20951,1344658,1248140,2592798,620491,587701,1208192,3199641,2980193,6179834
3,Prov. Sumatera Utara,70000,1,0,NaN,NaN,NaN,NaN,65021,61060,...,5732,791398,731284,1522682,318367,303587,621954,1638849,1531695,3170544
4,Prov. Banten,280000,1,0,NaN,NaN,NaN,NaN,53967,51659,...,6666,623427,579309,1202736,227733,214256,441989,1265419,1175334,2440753
5,Prov. Sulawesi Selatan,190000,1,0,NaN,NaN,NaN,NaN,81014,77143,...,4817,456904,424962,881866,167178,163912,331090,965510,913861,1879371
6,Prov. Sumatera Selatan,110000,1,0,NaN,NaN,NaN,NaN,45055,42243,...,3069,457261,423408,880669,180977,175349,356326,936379,874772,1811151
7,Prov. Lampung,120000,1,0,NaN,NaN,NaN,NaN,69298,64940,...,2185,414662,383312,797974,172774,164075,336849,892259,830438,1722697
8,Prov. D.K.I. Jakarta,10000,1,0,NaN,NaN,NaN,NaN,37276,35536,...,6196,390427,365641,756068,176496,171285,347781,862491,814534,1677025
9,Prov. Nusa Tenggara Timur,240000,1,0,NaN,NaN,NaN,NaN,25077,24116,...,3185,348331,314384,662715,161866,154833,316699,769196,724494,1493690
10,Prov. Riau,90000,1,0,NaN,NaN,NaN,NaN,48547,46453,...,3719,403573,372057,775630,132982,128263,261245,771782,721350,1493132
11,Prov. Sumatera Barat,80000,1,0,NaN,NaN,NaN,NaN,43744,41404,...,7306,309457,282060,591517,103538,97921,201459,636581,584342,1220923
12,Prov. Nusa Tenggara Barat,230000,1,0,NaN,NaN,NaN,NaN,52240,49240,...,4131,266427,245810,512237,90893,82982,173875,610950,568029,1178979
13,Prov. Kalimantan Barat,130000,1,0,NaN,NaN,NaN,NaN,20339,19047,...,1975,293895,268599,562494,116799,113179,229978,581984,547388,1129372
14,Prov. Aceh,60000,1,0,NaN,NaN,NaN,NaN,52931,50405,...,4807,254555,234717,489272,104786,97304,202090,576972,528079,1105051
15,Prov. Kalimantan Timur,160000,1,0,NaN,NaN,NaN,NaN,31657,30413,...,2831,217568,201231,418799,82577,79234,161811,454138,420558,874696
16,Prov. Bali,220000,1,0,NaN,NaN,NaN,NaN,39071,36205,...,2483,198207,185265,383472,96918,89079,185997,442679,408492,851171
17,Prov. Kalimantan Selatan,150000,1,0,NaN,NaN,NaN,NaN,49768,46677,...,2817,183201,169632,352833,57985,54786,112771,404724,369385,774109
18,Prov. Jambi,100000,1,0,NaN,NaN,NaN,NaN,26488,24738,...,2366,191531,176606,368137,60994,58677,119671,393611,367698,761309
19,Prov. D.I. Yogyakarta,40000,1,0,NaN,NaN,NaN,NaN,41755,38691,...,5028,139529,130996,270525,68207,64345,132552,365269,339764,705033
20,Prov. Sulawesi Tengah,180000,1,0,NaN,NaN,NaN,NaN,35374,33775,...,1593,161983,149777,311760,57164,55971,113135,355611,336176,691787
21,Prov. Sulawesi Tenggara,200000,1,0,NaN,NaN,NaN,NaN,35857,33965,...,2636,152797,140854,293651,59778,56934,116712,353845,326679,680524
22,Prov. Kalimantan Tengah,140000,1,0,NaN,NaN,NaN,NaN,35889,33477,...,1371,143824,132083,275907,53913,51574,105487,305745,282103,587848
23,Prov. Sulawesi Utara,170000,1,0,NaN,NaN,NaN,NaN,19489,18125,...,1642,114377,103943,218320,50742,47458,98200,262545,241467,504012
24,Prov. Kepulauan Riau,310000,1,0,NaN,NaN,NaN,NaN,12606,11949,...,1637,117915,109109,227024,50610,48604,99214,243205,226476,469681
25,Prov. Maluku,210000,1,0,NaN,NaN,NaN,NaN,14123,13353,...,849,107864,98560,206424,46170,42934,89104,240642,221617,462259
26,Prov. Bengkulu,260000,1,0,NaN,NaN,NaN,NaN,18767,17768,...,1445,101768,92773,194541,44225,41219,85444,230645,210117,440762
27,Prov. Sulawesi Barat,330000,1,0,NaN,NaN,NaN,NaN,13288,12527,...,1088,74512,68655,143167,25272,25916,51188,173099,161977,335076
28,Prov. Maluku Utara,270000,1,0,NaN,NaN,NaN,NaN,11243,10672,...,896,73873,66969,140842,30754,28899,59653,174144,159191,333335
29,Prov. Kepulauan Bangka Belitung,290000,1,0,NaN,NaN,NaN,NaN,10121,9321,...,1316,84157,77492,161649,31783,31446,63229,167566,157944,325510
30,Prov. Papua Tengah,360000,1,0,NaN,NaN,NaN,NaN,12560,10733,...,904,77407,65284,142691,21995,18591,40586,143337,118920,262257
31,Prov. Gorontalo,300000,1,0,NaN,NaN,NaN,NaN,14547,13923,...,1058,55503,52431,107934,20420,20987,41407,130794,128067,258861
32,Prov. Papua,250000,1,0,NaN,NaN,NaN,NaN,5133,4919,...,460,61474,55091,116565,26617,24441,51058,130841,116857,247698
33,Prov. Papua Pegunungan,380000,1,0,NaN,NaN,NaN,NaN,2327,2146,...,0,78822,61093,139915,23762,17954,41716,127166,98360,225526
34,Prov. Kalimantan Utara,340000,1,0,NaN,NaN,NaN,NaN,4230,4101,...,610,41581,38156,79737,16937,16153,33090,88728,81806,170534
35,Prov. Papua Selatan,370000,1,0,NaN,NaN,NaN,NaN,3816,3627,...,140,50308,44734,95042,14901,12675,27576,88276,76398,164674
36,Prov. Papua Barat,320000,1,0,NaN,NaN,NaN,NaN,4300,4283,...,62,37602,33963,71565,14342,13103,27445,74384,67455,141839
37,Prov. Papua Barat Daya,390000,1,0,NaN,NaN,NaN,NaN,2885,2560,...,207,31551,28556,60107,12807,11820,24627,62647,56881,119528
38,Luar Negeri,350000,1,0,NaN,NaN,NaN,NaN,148,158,...,0,9233,8506,17739,3020,3125,6145,15274,15055,30329

In [15]:
page_url = 'https://dapo.kemdikbud.go.id/pd/3/016006'
page = driver.get(page_url)
soup = BeautifulSoup(driver.page_source, 'html.parser')

#get periode for rekapitulasi each semester
semester_dropdown = soup.find(id='selectSemester').find_all('option')[1:]
# semester_dropdown
semester_lists = [semester.get('value') for semester in semester_dropdown]
# semester_lists
semester_lists = [semester_lists[0]]
semester_lists

['20231']

In [8]:
soup.find(id='selectSemester')

In [13]:
rekapitulasi = pd.read_json(link2)
rekapitulasi_list.append(rekapitulasi)

In [16]:
rekapitulasi_list

[                           nama                            sekolah_id  \
 0             TK NEGERI PEMBINA  B69535A3-06CC-49DB-B0D8-5B4B1CF7C591
 1             KB FADHILUL HAYAT  5EBAE96A-EAEC-4EDA-B643-21EB67458813
 2                TK ABA ARIDWAN  2FB42DA0-29D7-4681-A2D3-F8D8C2F6005B
 3                TK AL MUHDIYAT  367FDE02-CA0D-48D4-89C6-44FDB70993C4
 4                     TK AL NUR  437A5859-E89A-46B2-BE3D-033133D7F3D2
 ..                          ...                                   ...
 363           PKBM Mutiara Hati  AC2523DA-07EF-4149-99E1-A9BDBA612658
 364  PKBM RUMAH SINGGAH TABAYUN  18B00DC5-83D8-4831-98FF-F28C12FDA41E
 365            SLB NEGERI BOGOR  20F5FCD3-B633-E211-8D4D-0FF45FC8CCE0
 366            SLB MEKAR SARI 1  00FCD915-2CF5-E011-AF57-3F2D795397EC
 367              SKB KAB. BOGOR  BCF84686-3F1F-4A28-AD3E-3EC02C16AF14

          npsn  jumlah_kirim  ptk  pegawai   pd  rombel  jml_rk  jml_lab  ...  \
 0    69893404            23    9        5  116       8       7        0  ...
 1    69985297             3    3        1   25       2       2        0  ...
 2    69908239            10    4        1   40       3       4        0  ...
 3    69938720             0    0        0    0       0       0        0  ...
 4    20268628            20    3        1   42       3       3        0  ...
 ..        ...           ...  ...      ...  ...     ...     ...      ...  ...
 363  P2960639            59    6        1  453      24       9        0  ...
 364  P9997389            13    4        1  127       9       3        0  ...
 365  20230406            40   26       12  180      32      14        0  ...
 366  20271748            61   17        3  171      35      20        1  ...
 367  P9963149           157   12        2  474      18       8        0  ...

      induk_kecamatan kode_wilayah_induk_kecamatan  induk_kabupaten  \
 0      Kec. Cibinong                        20521       Kab. Bogor
 1      Kec. Cibinong                        20521       Kab. Bogor
 2      Kec. Cibinong                        20521       Kab. Bogor
 3      Kec. Cibinong                        20521       Kab. Bogor
 4      Kec. Cibinong                        20521       Kab. Bogor
 ..               ...                          ...              ...
 363    Kec. Cibinong                        20521       Kab. Bogor
 364    Kec. Cibinong                        20521       Kab. Bogor
 365    Kec. Cibinong                        20521       Kab. Bogor
 366    Kec. Cibinong                        20521       Kab. Bogor
 367    Kec. Cibinong                        20521       Kab. Bogor

     kode_wilayah_induk_kabupaten    induk_provinsi  \
 0                          20500  Prov. Jawa Barat
 1                          20500  Prov. Jawa Barat
 2                          20500  Prov. Jawa Barat
 3                          20500  Prov. Jawa Barat
 4                          20500  Prov. Jawa Barat
 ..                           ...               ...
 363                        20500  Prov. Jawa Barat
 364                        20500  Prov. Jawa Barat
 365                        20500  Prov. Jawa Barat
 366                        20500  Prov. Jawa Barat
 367                        20500  Prov. Jawa Barat

     kode_wilayah_induk_provinsi  bentuk_pendidikan status_sekolah  \
 0                         20000                 TK         Negeri
 1                         20000                 TK         Swasta
 2                         20000                 TK         Swasta
 3                         20000                 TK         Swasta
 4                         20000                 TK         Swasta
 ..                          ...                ...            ...
 363                       20000               PKBM         Swasta
 364                       20000               PKBM         Swasta
 365                       20000                SLB         Negeri
 366                       20000                SLB         Swasta
 367                       20000                SKB         Negeri

          sinkron_terakhir                                  sekolah_id_enkrip
 0    30 Oct 2023 11:49:36  4861315EF341EA1FAA4D                          ...
 1    27 Aug 2023 10:01:50  55749F1CE52B7B311099                          ...
 2    07 Oct 2023 16:20:53  E6C539499173C83EAF78                          ...
 3    08 Oct 2022 22:54:06  4B849A7E1F7E71EB2B08                          ...
 4    23 Oct 2023 14:20:36  E3E0ED0F56A09D5830A0                          ...
 ..                    ...                                                ...
 363  31 Oct 2023 06:15:52  7C34B246E48C9E861B2B                          ...
 364  02 Oct 2023 06:58:15  537ECB3785F262CA8D24                          ...
 365  09 Oct 2023 12:40:59  622CEC0E7529E75CDFE1                          ...
 366  31 Oct 2023 11:54:31  CB4FDD00BBE862218774                          ...
 367  31 Oct 2023 12:17:02  53AA78430A97FB359DCE                          ...

 [368 rows x 21 columns],
                                   nama                            sekolah_id  \
 0                      HIDAYATUL KHOIR  C6FB3CC3-E1AC-4E3B-84CC-5C8ED3B6EA06
 1    KB/TK Islam Ar Rizqi Harvest City  D4DBE5B7-FDA6-469A-8D87-41A364B5FE02
 2                         MUTIARA ILMU  9F469244-5BCA-453E-AF81-A263F1824043
 3                   TK ABATA PRESCHOOL  D36CCFFB-82B8-4783-92AC-E037ECCF3495
 4              TK AISYIYAH 1 CILEUNGSI  9B024A92-1756-47B4-B720-BE681210C8AF
 ..                                 ...                                   ...
 330               PKBM Pelita Harapan   93E1EEC9-3028-489A-84B6-89A49FC7BEA6
 331           PKBM PEMUDA MUHAMMADIYAH  D8F60EC8-CC2D-4073-A519-3A93FAF20E9A
 332                     PKBM Perintis   3D071D6D-4F10-4738-9B9C-CB2D310769A2
 333                  PKBM SETYA DHARMA  C5B10EF7-EEBD-4906-94DD-EAD2F6D70CFE
 334                 SLB BINA SEJAHTERA  00EED915-2CF5-E011-AAE3-BF53EFE1446E

          npsn  jumlah_kirim  ptk  pegawai   pd  rombel  jml_rk  jml_lab  ...  \
 0    69868510            18    3        1   18       2       2        0  ...
 1    69868519            18    2        1   24       2       4        0  ...
 2    69868485            16    2        1   50       3       3        1  ...
 3    69917408             6    6        1   55       5       7        0  ...
 4    69868503             4    2        1   78       3       3        0  ...
 ..        ...           ...  ...      ...  ...     ...     ...      ...  ...
 330  P2960646            11    9        1   83       6       7        1  ...
 331  P9970217            47    1        2   97       7       6        0  ...
 332  P2960647             0    0        0    0       0       0        0  ...
 333  P9997213            61    7        1  424      17       3        0  ...
 334  20230408            18    9        1  128      24       8        0  ...

      induk_kecamatan kode_wilayah_induk_kecamatan  induk_kabupaten  \
 0     Kec. Cileungsi                        20518       Kab. Bogor
 1     Kec. Cileungsi                        20518       Kab. Bogor
 2     Kec. Cileungsi                        20518       Kab. Bogor
 3     Kec. Cileungsi                        20518       Kab. Bogor
 4     Kec. Cileungsi                        20518       Kab. Bogor
 ..               ...                          ...              ...
 330   Kec. Cileungsi                        20518       Kab. Bogor
 331   Kec. Cileungsi                        20518       Kab. Bogor
 332   Kec. Cileungsi                        20518       Kab. Bogor
 333   Kec. Cileungsi                        20518       Kab. Bogor
 334   Kec. Cileungsi                        20518       Kab. Bogor

     kode_wilayah_induk_kabupaten    induk_provinsi  \
 0                          20500  Prov. Jawa Barat
 1                          20500  Prov. Jawa Barat
 2                          20500  Prov. Jawa Barat
 3                          20500  Prov. Jawa Barat
 4                          20500  Prov. Jawa Barat
 ..                           ...               ...
 330                        20500  Prov. Jawa Barat
 331                        20500  Prov. Jawa Barat
 332                        20500  Prov. Jawa Barat
 333                        20500  Prov. Jawa Barat
 334                        20500  Prov. Jawa Barat

     kode_wilayah_induk_provinsi  bentuk_pendidikan status_sekolah  \
 0                         20000                 TK         Swasta
 1                         20000                 TK         Swasta
 2                         20000                 TK         Swasta
 3                         20000                 TK         Swasta
 4                         20000                 TK         Swasta
 ..                          ...                ...            ...
 330                       20000               PKBM         Swasta
 331                       20000               PKBM         Swasta
 332                       20000               PKBM         Swasta
 333                       20000               PKBM         Swasta
 334                       20000                SLB         Swasta

          sinkron_terakhir                                  sekolah_id_enkrip
 0    04 Oct 2023 20:05:16  35AF99192B3320FE34B9                          ...
 1    20 Sep 2023 03:47:06  364209B03474F15176FA                          ...
 2    06 Oct 2023 17:20:05  D2DA06C3F294DA44D409                          ...
 3    31 Oct 2023 09:43:29  90D66618F5F67633E370                          ...
 4    29 Aug 2023 14:24:41  B652D63E35E0F94A9886                          ...
 ..                    ...                                                ...
 330  01 Oct 2023 10:53:31  CD4806B70613C6A25713                          ...
 331  10 Oct 2023 22:36:06  E329639B2B301DBC1673                          ...
 332  03 Apr 2023 11:15:12  229FEF63CA6174FC5DC6                          ...
 333  30 Oct 2023 11:17:59  C17A4093438D13977866                          ...
 334  10 Oct 2023 09:16:12  7278B24510FF81DF5FD1                          ...

 [335 rows x 21 columns]]

In [17]:
result = pd.concat(rekapitulasi_list, ignore_index=True)

In [18]:
result

,nama,sekolah_id,npsn,jumlah_kirim,ptk,pegawai,pd,rombel,jml_rk,jml_lab,...,induk_kecamatan,kode_wilayah_induk_kecamatan,induk_kabupaten,kode_wilayah_induk_kabupaten,induk_provinsi,kode_wilayah_induk_provinsi,bentuk_pendidikan,status_sekolah,sinkron_terakhir,sekolah_id_enkrip
0,TK NEGERI PEMBINA,B69535A3-06CC-49DB-B0D8-5B4B1CF7C591,69893404,23,9,5,116,8,7,0,...,Kec. Cibinong,20521,Kab. Bogor,20500,Prov. Jawa Barat,20000,TK,Negeri,30 Oct 2023 11:49:36,4861315EF341EA1FAA4D ...
1,KB FADHILUL HAYAT,5EBAE96A-EAEC-4EDA-B643-21EB67458813,69985297,3,3,1,25,2,2,0,...,Kec. Cibinong,20521,Kab. Bogor,20500,Prov. Jawa Barat,20000,TK,Swasta,27 Aug 2023 10:01:50,55749F1CE52B7B311099 ...
2,TK ABA ARIDWAN,2FB42DA0-29D7-4681-A2D3-F8D8C2F6005B,69908239,10,4,1,40,3,4,0,...,Kec. Cibinong,20521,Kab. Bogor,20500,Prov. Jawa Barat,20000,TK,Swasta,07 Oct 2023 16:20:53,E6C539499173C83EAF78 ...
3,TK AL MUHDIYAT,367FDE02-CA0D-48D4-89C6-44FDB70993C4,69938720,0,0,0,0,0,0,0,...,Kec. Cibinong,20521,Kab. Bogor,20500,Prov. Jawa Barat,20000,TK,Swasta,08 Oct 2022 22:54:06,4B849A7E1F7E71EB2B08 ...
4,TK AL NUR,437A5859-E89A-46B2-BE3D-033133D7F3D2,20268628,20,3,1,42,3,3,0,...,Kec. Cibinong,20521,Kab. Bogor,20500,Prov. Jawa Barat,20000,TK,Swasta,23 Oct 2023 14:20:36,E3E0ED0F56A09D5830A0 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,PKBM Pelita Harapan,93E1EEC9-3028-489A-84B6-89A49FC7BEA6,P2960646,11,9,1,83,6,7,1,...,Kec. Cileungsi,20518,Kab. Bogor,20500,Prov. Jawa Barat,20000,PKBM,Swasta,01 Oct 2023 10:53:31,CD4806B70613C6A25713 ...
699,PKBM PEMUDA MUHAMMADIYAH,D8F60EC8-CC2D-4073-A519-3A93FAF20E9A,P9970217,47,1,2,97,7,6,0,...,Kec. Cileungsi,20518,Kab. Bogor,20500,Prov. Jawa Barat,20000,PKBM,Swasta,10 Oct 2023 22:36:06,E329639B2B301DBC1673 ...
700,PKBM Perintis,3D071D6D-4F10-4738-9B9C-CB2D310769A2,P2960647,0,0,0,0,0,0,0,...,Kec. Cileungsi,20518,Kab. Bogor,20500,Prov. Jawa Barat,20000,PKBM,Swasta,03 Apr 2023 11:15:12,229FEF63CA6174FC5DC6 ...
701,PKBM SETYA DHARMA,C5B10EF7-EEBD-4906-94DD-EAD2F6D70CFE,P9997213,61,7,1,424,17,3,0,...,Kec. Cileungsi,20518,Kab. Bogor,20500,Prov. Jawa Barat,20000,PKBM,Swasta,30 Oct 2023 11:17:59,C17A4093438D13977866 ...
702,SLB BINA SEJAHTERA,00EED915-2CF5-E011-AAE3-BF53EFE1446E,20230408,18,9,1,128,24,8,0,...,Kec. Cileungsi,20518,Kab. Bogor,20500,Prov. Jawa Barat,20000,SLB,Swasta,10 Oct 2023 09:16:12,7278B24510FF81DF5FD1 ...

In [75]:
"""## get kode wilayah `Kecamatan`"""
start_kecamatan = time.time()
print('getting kecamatan')

def get_kecamatan(kode_wilayah_kabupaten):
    print('in get_kecamatan')
    for kabupaten in kode_wilayah_kabupaten:
        retry_count=0
        while retry_count < max_retries:
            try:
                kabupaten = kabupaten.strip()
                kec_api = f'https://dapo.kemdikbud.go.id/rekap/dataPD?id_level_wilayah=2&kode_wilayah={kabupaten}&semester_id=20231'
                kecamatan = pd.read_json(kec_api)
                kecamatan = kecamatan.sort_values('kode_wilayah')
                kecamatan = kecamatan['kode_wilayah']
                # print(kecamatan)
                # kode_wilayah_kecamatan = kode_wilayah_kecamatan._append(kecamatans, ignore_index=True)
                kode_wilayah_kecamatan.append(kecamatan)
                # print(kode_wilayah_kecamatan)
                break
            except Exception as e:
                print(f'kode kabupaten: {kabupaten}, error: {e}, retry: {retry_count}')
                if retry_count == 2:
                    print(f'kecamatan with kabupaten code {kabupaten} was failed to be get')
                retry_count += 1
                time.sleep(3)
    return None

def main_get_kode_kecamatan(kode_wilayah_kabupaten):
    print('in main_get_kode_kecamatan')
    threads = []
    kabupaten_batches = np.array_split(kode_wilayah_kabupaten, num_threads)
    for t in range(num_threads):
        thread = threading.Thread(target=get_kecamatan, args=(kabupaten_batches[t],))
        threads.append(thread)

    for thread in threads:
        thread.start()

    for thread in threads:
        thread.join()
    return None


kode_wilayah_kabupaten = pd.read_csv('dataset\kode_wilayah_kabupaten.csv')
kode_wilayah_kabupaten = kode_wilayah_kabupaten['kode_wilayah_kabupaten']
kode_wilayah_kabupaten = kode_wilayah_kabupaten.astype(str).str.zfill(6)
main_get_kode_kecamatan(kode_wilayah_kabupaten)

kode_wilayah_kecamatan = pd.concat(kode_wilayah_kecamatan, ignore_index=True)
kode_wilayah_kecamatan = kode_wilayah_kecamatan.astype(str).str.zfill(6)
df_kode_wilayah_kecamatan = pd.DataFrame({'kode_wilayah_kecamatan': kode_wilayah_kecamatan})
df_kode_wilayah_kecamatan.to_csv('./dataset/kode_wilayah_kecamatan_thread.csv', index=False)

In [77]:
rekapitulasi_urls = []

In [100]:
"""## get semester list"""
#contoh page kecamatan kemayoran. untuk ngambil tag select semester
page_url = 'https://dapo.kemdikbud.go.id/pd/3/016006'
page = driver.get(page_url)
soup = BeautifulSoup(driver.page_source, 'html.parser')

#get periode for rekapitulasi each semester
semester_dropdown = soup.find(id='selectSemester').find_all('option')[1:]
semester_lists = [semester.get('value') for semester in semester_dropdown]
semester_lists = [semester_lists[0]]

print('semester lists ', semester_lists)

semester_titles = [semester.get_text().strip() for semester in semester_dropdown]
print('semester_titles ', semester_titles)


"""## generate rekapitulasi urls in kecamatan level"""
start_rekap = time.time()
kode_wilayah_kecamatan = pd.read_csv('dataset\kode_wilayah_kecamatan_thread.csv')
kode_wilayah_kecamatan = kode_wilayah_kecamatan['kode_wilayah_kecamatan']
kode_wilayah_kecamatan = kode_wilayah_kecamatan.astype(str).str.zfill(6)
rekapitulasi_urls = ['https://dapo.kemdikbud.go.id/rekap/progresSP?id_level_wilayah=3&kode_wilayah={0}&semester_id={1}'.format(kode, semester) for kode, semester in itertools.product(kode_wilayah_kecamatan, semester_lists)]
rekapitulasi_urls = pd.DataFrame({'urls': rekapitulasi_urls})
rekapitulasi_urls.to_csv('./dataset/rekapitulasi_urls_thread_20231.csv', index=False)

In [99]:
rekapitulasi_urls

                                                   urls
0     https://dapo.kemdikbud.go.id/rekap/progresSP?i...
1     https://dapo.kemdikbud.go.id/rekap/progresSP?i...
2     https://dapo.kemdikbud.go.id/rekap/progresSP?i...
3     https://dapo.kemdikbud.go.id/rekap/progresSP?i...
4     https://dapo.kemdikbud.go.id/rekap/progresSP?i...
...                                                 ...
7254  https://dapo.kemdikbud.go.id/rekap/progresSP?i...
7255  https://dapo.kemdikbud.go.id/rekap/progresSP?i...
7256  https://dapo.kemdikbud.go.id/rekap/progresSP?i...
7257  https://dapo.kemdikbud.go.id/rekap/progresSP?i...
7258  https://dapo.kemdikbud.go.id/rekap/progresSP?i...

[7259 rows x 1 columns]

In [103]:
rekapitulasi_result = pd.read_csv('dataset\\rekapitulasi_result_20231.csv')

In [104]:
rekapitulasi_result

,nama,sekolah_id,npsn,jumlah_kirim,ptk,pegawai,pd,rombel,jml_rk,jml_lab,...,before_tempat_bermain_olahraga,after_tempat_bermain_olahraga,before_ruang_tu,after_ruang_tu,before_ruang_konseling,after_ruang_konseling,before_ruang_osis,after_ruang_osis,before_bangunan,after_bangunan
0,TK KI HAJAR DEWANTARA NUAMURI,DF13C321-8426-4599-B17B-88E168645FF3,50305479,5.0,2.0,1.0,48.0,2.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TK MARIA FATIMA KOANARA,901D8769-109B-45DA-85FC-B8095E991DAD,50305704,10.0,1.0,0.0,34.0,2.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TK TANA NUWA,26C4C324-49DA-484E-8151-8D7778779272,50305478,2.0,1.0,1.0,10.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KB MARLOM,8F7307FE-458B-4228-855C-F2D114CE8C0A,70006252,6.0,5.0,0.0,19.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KB. KELIMUTU PERMAI,8C3439B9-7428-4E24-9FFF-E21F0A92CC99,69962391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437056,SMK NEGERI 2 RAJA AMPAT,4BD7E95D-439E-442D-B327-3BDB88217382,60403788,107.0,33.0,4.0,139.0,15.0,15.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437057,SMK DKV YANURAF KHIDIRRAJA,FA184F6D-0D89-4088-9582-447D41290498,69942220,39.0,11.0,4.0,80.0,5.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437058,SMKS YPK BUKIT ZAITUN WAISAI,2AC74EB5-E8E7-4311-A3F5-04A5FBD867CC,69830685,51.0,32.0,5.0,346.0,13.0,14.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437059,PKBM BAHARI KOFARKOR,905635A6-97F8-40C8-8CD0-DA7BA15A6EFE,P9970082,62.0,2.0,1.0,169.0,8.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437060,PKBM YAYASAN KASIH RUMBAI KOTEKA,E0CD0817-5F4F-43CE-AD09-52EC5A164B55,P9999089,37.0,4.0,1.0,47.0,3.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN